[core]
	excludesfile = /Users/hugocxl/.gitignore
	ignorecase = false
[user]
	name = hugocxl
	email = corta.hugo@gmail.com
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[alias]
	a = add
	f = fetch
	ls = log --oneline
	st = status -sb
	cm = commit -m
	c = commit
	cl = clone
	ps = push
	pl = pull
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	save = !git add -A && git commit -m
	reset = !git reset --hard
